<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Trademart_Utilities.Extent_Reporting"></listener>
	</listeners>
  <test thread-count="5" name="Test">
	  <parameter name="browser" value="chrome"></parameter>
    <classes>
		<class name="Trademart_Testcases.Trademart_ManageGroupandPhotoBank_TestClass"></class>
		<!--<class name="Trademart_Testcases.Trademart_ManageBuyingRequirementSeller_TestClass"></class>-->
		<!--<class name="Trademart_Testcases.Trademart_Search_TestClass"></class>-->
		<!--<class name="Trademart_Testcases.Trademart_Signup_TestClass"></class>-->
        <!--<class name="Trademart_Testcases.Trademart_Login_TestClass"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
